---
// Basic Section component - provides vertical padding
interface Props {
  className?: string;
}
const { className } = Astro.props;
---
<section class:list={["py-16 md:py-20 lg:py-24", className]}>
  <slot />
</section>